@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron" data-genid="Home_Index_3">
    <h1 data-genid="Home_Index_4">ASP.NET</h1>
    <p class="lead" data-genid="Home_Index_5">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p data-genid="Home_Index_6"><a href="http://asp.net" class="btn btn-primary btn-lg" data-genid="Home_Index_7">Learn more »</a></p>
</div>

<div class="row" data-genid="Home_Index_8">
    <div class="col-md-4" data-genid="Home_Index_9">
        <h2 data-genid="Home_Index_10">Getting started</h2>
        <p data-genid="Home_Index_11">
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p data-genid="Home_Index_12"><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" data-genid="Home_Index_13">Learn more »</a></p>
    </div>
    <div class="col-md-4" data-genid="Home_Index_14">
        <h2 data-genid="Home_Index_15">Get more libraries</h2>
        <p data-genid="Home_Index_16">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p data-genid="Home_Index_17"><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866" data-genid="Home_Index_18">Learn more »</a></p>
    </div>
    <div class="col-md-4" data-genid="Home_Index_19">
        <h2 data-genid="Home_Index_20">Web Hosting</h2>
        <p data-genid="Home_Index_21">You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p data-genid="Home_Index_22"><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867" data-genid="Home_Index_23">Learn more »</a></p>
    </div>
</div>

