@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "col-xs-50 " }))
    {
    @Html.AntiForgeryToken()

    <div class="col-xs-50">
        <div class="col-xs-25">
            <a href="@Url.Action( "Index", "Manage")"><span class='glyphicon glyphicon-user'></span></a>

        </div>
        <div class="col-xs-25 "><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span></a></div>
    </div>
    }
}
else
{
<a href="@Url.Action( "Login", "Account")" id = "loginLink"><span class='glyphicon glyphicon-user'></span></a>


 @*   <ul class="nav navbar-nav navbar-right">
        <li class="hidden">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
      
    @*</ul>*@
}
