@using Editor.Code.Config

@{
    ViewBag.Title = "Index";
}
@section scripts{
    
}
<input id="projecturl" type="hidden" value="@(Project.Url)" />
<div class="col-xs-1">
    
</div>
    <div class="col-xs-49">
        <iframe id="editoriframe" src="@(Project.Url)"
    seamless="seamless" allowfullscreen refererpolicy="origin" style="width: 100%;border:0px;">
            Url Not Loaded Due to Restrictions
        </iframe>
    </div>


