.hdgrouplabel { cursor: pointer; }

.hdgroup {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-right: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

#hdstylemenu a, #hdstylemenu a:focus, #hdstylemenu a:hover {
    color: inherit !important;
    text-decoration: none;
}
.hd_rightmenu .selectize-control.multi .selectize-input.input-active:after, .hd_rightmenu .selectize-control.multi .selectize-input:after, .hd_rightmenu .selectize-control.single .selectize-input.input-active:after, .hd_rightmenu .selectize-control.single .selectize-input:after { display: none }

.hd_borderselected {
    border:1px dashed rgba(0,0,0,0.22);
}

.hd_rightmenu .selectize-input {
    border-radius: 0px !important;
    background-image: none;
    background-color: inherit
}

.hd_rightmenu .selectize-dropdown .active {
    background-color: #252424 !important;
    color: #ffffff;
}

.hd_rightmenu .selectize-dropdown .option { padding: 3px 6px !important; }

.hd_rightmenu .selectize-control.hdform-control .item {
    line-height: 20px;
    margin: 0 1px 1px 0 !important;
    background-color: #0f03f4;
    padding: 0px 3px 0px 5px;
    color: #FFFFFF;
}

.hd_rightmenu .selectize-control.hdform-control { height: auto; }

.hd_rightmenu { font-size: 11px !important; }

.hd_rightmenu .selectize-control.single .item {
    background-color: #ffffff;
    padding: 1px;
    color: #656464;
}

.hd_rightmenu .selectize-control .selectize-input.has-items, .hd_rightmenu input {
    font-size: 11px !important;
    padding: 0px 0px 0px;
}

.hd_rightmenu .hdform-group { margin-top: 0px; }

.hd_rightmenu .toggle { margin-left: 10px; }body {
}
